.footer {
  &__container {
    row-gap: 5rem;
  }
  &__content {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  &__titles,
  &__subtitle {
    font-size: var(--h3-font-size);
  }
  &__titles {
    margin-bottom: var(--mb-0-5);
  }
}
