.footer {
  &__container {
    row-gap: 5rem;
  }
  &__content {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  &__title,
  &__subtitle {
    font-size: var(--h3-font-size);
  }
  &__title {
    margin-bottom: var(--mb-0-5);
  }
  &__description {
    margin-bottom: var(--mb-2);
  }
  &__social {
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1-25);
  }
}
