@media screen and (max-width: 340px) {
  .place {
    &__container {
      grid-template-columns: max-content;
      justify-content: center;
    }
  }
  .experience {
    &__content {
      padding: 0;
    }
    &__overlay {
      &:nth-child(1) {
        width: 190px;
      }
    }
  }
}
