@media screen and (max-width: 340px) {
  .home {
    &__info {
      padding: 1rem;
      width: 190px;
    }
  }
  .place {
    &__container {
      grid-template-columns: max-content;
      justify-content: center;
    }
  }
  .experience {
    &__content {
      padding: 0;
    }
    &__overlay {
      &:nth-child(1) {
        width: 190px;
      }
      &:nth-child(2) {
        width: 80px;
      }
    }
    &_img {
      padding: 0;
    }
  }
  .video {
    &__container {
      padding: 0;
    }
  }
}
/* For medium devices */
@media screen and (min-width: 568px) {
  .video {
    &__container {
      display: grid;
      grid-template-columns: 0.6fr;
      justify-content: center;
    }
  }
  .place {
    &__container {
      grid-template-columns: repeat(3, max-content);
    }
  }
  .subscribe {
    &__form {
      width: 470px;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    &__link {
      color: var(--white-color);
      text-transform: initial;
      &:hover {
        color: var(--white-color);
      }
    }
    &__dark {
      position: initial;
    }
    &__menu {
      display: flex;
      column-gap: 1rem;
    }
    &__list {
      display: flex;
      flex-direction: row;
      column-gap: 4rem;
    }
    &__toggle,
    &__close {
      display: none;
    }
  }
  .change-theme-name {
    display: none;
  }
  .change-theme {
    color: var(--white-color);
  }
  .active-link::before {
    background-color: var(--white-color);
  }
  .scroll {
    &-header .nav__link {
      color: var(--text-color);
    }
    &-header .active-link {
      color: var(--title-color);
      &::before {
        background-color: var(--title-color);
      }
    }
    &-header .change-theme {
      color: var(--text-color);
    }
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .home {
    &__container {
      height: 100vh;
      grid-template-rows: 1.8fr 0.5fr;
    }
    &__data {
      align-self: flex-end;
    }
    &__social {
      flex-direction: row;
      align-self: flex-end;
      margin-bottom: 3rem;
      column-gap: 2.5rem;
    }
    &__info {
      bottom: 3rem;
    }
  }
  .about {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
    &__data,
    &__title {
      text-align: initial;
    }
    &__title {
      margin-bottom: var(--mb-1-5);
    }
    &__description {
      margin-bottom: var(--mb-2);
    }
  }
  .discover {
    &__container {
      width: 610px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 2rem;
    }
  }
  .place {
    &__container {
      padding-top: 2rem;
    }
  }
  .experience {
    &__overlay {
      &:nth-child(1) {
        width: 363px;
        margin-right: 4rem;
      }
      &:nth-child(2) {
        width: 160px;
      }
    }
  }
}
